
Please log in

<form action="/log-in-details" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<% if @user == "Failure!"%>
* You entered incorrect details, please try again!
<% end %>
