<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MakersBnB</title>
</head>



<h1>Your requests:</h1>

<form action=“/” method=“post”>
  <% @requests.each do |request| %>
    <% if request["user_id"] == @user.user_id %>

      <% @space.each do |each_space| %>
        <% if each_space['id'] == request["space_id"] %>
          <%= each_space['space_name'] %><br>
        <% end %>
      <% end%>

      <%= request["date"] %><br>
      <%= request["status"] %><br><br>

    <% end %>
  <% end %>
</form>
