Sign-up:
<form action="/sign-up-user" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<form action="/login" method="get">
  <input type="submit" value="Login">
</form>
