<h1>Welcome to makersbnb</h1><br>
please sign up or login to use this site <br><br>

Sign-up:
<form action="/sign-up-user" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>
