<h1>Add New Space</h1>

<form action='/makersbnb' method='post' >
  <input placeholder='Name' type='text' name='name'>
  <input placeholder='Description' type='text' name='description'>
  <input placeholder='Price' type='text' name='price'>
  <input placeholder='Dates available' type='text' name='dates_available'>
  <input value='Add Space' type='submit'>
</form>