<h1>Book a space</h1>

<form action="/makersbnb-book" method="post">
  <input type="text" name="booking_date" placeholder="Date">
  <input type="submit" value="Book Space">
</form>
<%= @booking_id %><br>

<% @booking.each do |list_booking| %>
  <% if list_booking['id'] == @booking_id %>
    <% days = list_booking['dates_available'] %>
    <% %>
      <%= day = days.split(",") %><br>
      Start day: <%= day[0] %>
      end day: <%= day[1] %>
  <% end %>
<% end %>
