<h1>Reserve a space</h1>

<form action="/makersbnb-reserve" method="post">
  <% @reserve.each do |reserve_list| %>
    <% if reserve_list['id'] == @reserve_id %>
    <% days_available = JSON.parse(reserve_list['dates_available']) %>
      <span>
        <select name="reserve_day">
          <% days_available.each do |days| %>
            <option value="<%= days %>"><%= days %></option>
          <% end %>
        </select> 
      </span>
    <% end %>
  <% end %>
  <input type="submit" value="Reserve Space">
</form>
