<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MakersBnB</title>
</head>


<h1>Reserve a space</h1>

<form action="/makersbnb-reserve" method="post">
  <% @reserve.each do |reserve_list| %>
    <% if reserve_list['id'] == @reserve_id %>
    <% days_available = JSON.parse(reserve_list['dates_available']) %>
      <span>
        <select name="reserve_day">
          <% days_available.each do |days| %>
            <option value="<%= days %>"><%= days %></option>
          <% end %>
        </select>
      </span>
    <% end %>
  <% end %>
  <input type="submit" value="Reserve Space">
</form>
